:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
    border: 1px solid rgb(200, 200, 200);
}

.form-signin {
    width: 100%;
}

.form-group {
    padding-bottom: 15px;
}

.btn-login {
    width: 100%;
    text-align: center;
}

.register-text {
    text-align: center;
}

.register-link {
    font-weight: bold;
    color: #227ab9;
    cursor: pointer;
}

label {
    font-size: 16px;
}

.password-input {
    display: block;
    width: 100%;
}

::ng-deep .p-password, ::ng-deep .p-password-input  {
    width: 100%;
}