<div class="d-flex justify-content-center" style="padding-top: 50px;">
    <div class="card" style="width: 30%;">
        <div class="card-body" style="font-size: 20px;">
            <div class="d-flex flex-column">
                <div>
                    <label style="font-weight: 600; width: 200px;" for="amount">Amount Payable: </label>
                    <span id="amount">{{ totalAmountPayable }}</span>
                </div>
                <div>
                    <label style="font-weight: 600; width: 200px;" for="option">Payment Option: </label>
                    <span id="option">{{ getOrderPaymentType() }}</span>
                </div>
                <div class="d-flex justify-content-end" style="padding-top: 20px;">
                    <button class="btn btn-light" style="margin-right: 10px" (click)="cancelPayment()">Cancel</button>
                    <button class="btn btn-primary" (click)="confirmPayment()">Confirm Payment</button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast position="top-center" key="tc"></p-toast>


