<p-menubar>
    <ng-template pTemplate="end">
        <div *ngIf="isLogin">
            <button *hasAnyRole="['BUYER']" pButton pRipple type="button" icon="pi pi-shopping-cart" class="p-button-rounded p-button-outlined icon-margin" [routerLink]="['/cart/shopping-cart']" routerLinkActive="router-link-active"></button>
            <p-avatar [label]="avatarLabel" styleClass="p-mr-2" size="large" shape="circle" (click)="menu.toggle($event)"></p-avatar>
            <p-menu #menu [popup]="true" [model]="userMenu"></p-menu>
        </div>
        <button *ngIf="!isLogin" pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info p-button-outlined" [routerLink]="['/user/login']" routerLinkActive="router-link-active" ></button>
    </ng-template>
</p-menubar>
