::ng-deep .p-menubar {
    position: fixed;
    width: 100%;
    z-index: 100;
}

::ng-deep .p-button.p-button-icon-only.p-button-rounded {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}