<div> </div>
<div class="col-10 col-sm-10 col-md-8 col-lg-8 mx-auto">
    <div class="card .card-cart my-12">
        <div class="card-body"> 
            <input type="checkbox" name="optiona" id="opta" checked> 
            <span class="checkboxtext">
                Select All {{ userID }}
            </span>
            <div *ngFor="let item of shoppingCartProductDTO" class="card-body">
                <div class="card-body">
                    <hr class="solid">
                    <p>{{ item.productId }}</p>
                </div>
            </div>
        </div>
    </div>
</div>