input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

.checkboxtext
{
  /* Checkbox text */
  font-size: 135%;
  display: inline;
  font-family: monospace;
  font-weight: bold;
}

.checkboxtext2
{
  /* Checkbox text */
  font-size: 100%;
  display: inline;
  font-family: monospace;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}


element.style {
}
._2sBbZC:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
._2sBbZC {
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    /* display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox; */
    display: flex;
    /* -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center; */
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0,0,0,.8);
    width: 32px;
    height: 32px;
}